In [50]:
import pandas as pd
import numpy as np

In [51]:
df = pd.read_csv('cellphoneslisting.csv', sep='',index_col='id')
df.head()

                                                title      sales  unit_sales
id
1   Nokia Asha 503 Dual Sim Liberado  Nuevos   Gar...    2996.99           1
2   Samsung Galaxy A5 A500 16gb Refabricado 2gb Ra...   31495.00           5
3   Celular Android Smartphone Liberado 4g Lte Tcl...   77380.00          20
4   Telefono Celular Lg G7 4g Lte Libre Nuevo Gara...   99997.00           3
5   Telefono Celular Lg G7 New Platinum Gray 4g Lt...  219992.00           8

In [52]:
phone_brands = ['SAMSUNG','APPLE','HUAWEI','NOKIA','SONY','LG','HTC', 'MOTOROLA', 'LENOVO','XIAOMI','GOOGLE',
'HONOR','OPPO','REALME','ONEPLUS','VIVO','MEIZU','BLACKBERRY','ASUS','ALCATEL','ZTE','MICROSOFT','VODAFONE',
'ENERGIZER','CAT','LAVA','MICROMAX','BLU','ACER','INFINIX','TECNO','WIKO','PANASONIC','YU','VERYKOOL','PLUM']

In [53]:
phone_brands_cap = []
for brand in phone_brands:
    capitalize_brand = brand.capitalize()
    phone_brands_cap.append(capitalize_brand)

In [54]:
#Copi cdada uno 
print(phone_brands_cap)

['Samsung', 'Apple', 'Huawei', 'Nokia', 'Sony', 'Lg', 'Htc', 'Motorola', 'Lenovo', 'Xiaomi', 'Google', 'Honor', 'Oppo', 'Realme', 'Oneplus', 'Vivo', 'Meizu', 'Blackberry', 'Asus', 'Alcatel', 'Zte', 'Microsoft', 'Vodafone', 'Energizer', 'Cat', 'Lava', 'Micromax', 'Blu', 'Acer', 'Infinix', 'Tecno', 'Wiko', 'Panasonic', 'Yu', 'Verykool', 'Plum']

In [55]:
df['brand'] = pd.np.where(df.title.str.contains("Samsung"), "Samsung", 
              pd.np.where(df.title.str.contains("Sansung"), "Samsung", 
              pd.np.where(df.title.str.contains("Galaxy"), "Samsung",
              pd.np.where(df.title.str.contains("Samgung"), "Samsung",
              pd.np.where(df.title.str.contains("Philco"), "Philco", 
              pd.np.where(df.title.str.contains("Kanji"), "Kanji", 
              pd.np.where(df.title.str.contains("Nokia"), "Nokia", 
              pd.np.where(df.title.str.contains("Lenovo"), "Lenovo", 
              pd.np.where(df.title.str.contains("Xiaomi"), "Xiaomi",
              pd.np.where(df.title.str.contains("Energizer"), "Energizer", 
              pd.np.where(df.title.str.contains("Vodafone"), "Vodafone", 
              pd.np.where(df.title.str.contains("Bgh"), "Bgh", 
              pd.np.where(df.title.str.contains("Zte"), "Zte", 
              pd.np.where(df.title.str.contains("Nextel"), "Nextel", 
              pd.np.where(df.title.str.contains("Blu"), "Blu", 
              pd.np.where(df.title.str.contains("Quantum"), "Quantum", 
              pd.np.where(df.title.str.contains("Micromax"), "Micromax",                      
              pd.np.where(df.title.str.contains("Cat"), "Cat",                        
              pd.np.where(df.title.str.contains("Lava"), "Lava",                     
              pd.np.where(df.title.str.contains("Infinix"), "Infinix", 
              pd.np.where(df.title.str.contains("Wiko"), "Wiko", 
              pd.np.where(df.title.str.contains("Tecno"), "Tecno", 
              pd.np.where(df.title.str.contains("Meizu"), "Meizu", 
              pd.np.where(df.title.str.contains("Vivo"), "Vivo", 
              pd.np.where(df.title.str.contains("Asus"), "Asus", 
              pd.np.where(df.title.str.contains("Oneplus"), "Oneplus", 
              pd.np.where(df.title.str.contains("Microsoft"), "Microsoft",                      
              pd.np.where(df.title.str.contains("Huawei"), "Huawei",                        
              pd.np.where(df.title.str.contains("Sony"), "Sony", 
              pd.np.where(df.title.str.contains("Lg"), "Lg", 
              pd.np.where(df.title.str.contains("Panasonic"), "Panasonic", 
              pd.np.where(df.title.str.contains("Plum"), "Plum", 
              pd.np.where(df.title.str.contains("Yu"), "Yu", 
              pd.np.where(df.title.str.contains("Verykool"), "Verykool", 
              pd.np.where(df.title.str.contains("Blackberry"), "Blackberry", 
              pd.np.where(df.title.str.contains("Alcatel"), "Alcatel",                      
              pd.np.where(df.title.str.contains("Apple"), "Iphone", 
              pd.np.where(df.title.str.contains("Iphone"), "Iphone",            
              pd.np.where(df.title.str.contains("Htc"), "Htc", 
              pd.np.where(df.title.str.contains("Motorola"), "Motorola", 
              pd.np.where(df.title.str.contains("Moto"), "Motorola",
              pd.np.where(df.title.str.contains("Acer"), "Acer", 
              pd.np.where(df.title.str.contains("Google"), "Google", 
              pd.np.where(df.title.str.contains("Honor"), "Honor", 
              pd.np.where(df.title.str.contains("Oppo"), "Oppo", 
              pd.np.where(df.title.str.contains("Realme"), "Realme", "Otros"))))))))))))))))))))))))))))))))))))))))))))))

In [56]:
df.head()

,title,sales,unit_sales,brand
id,,,,
1,Nokia Asha 503 Dual Sim Liberado Nuevos Gar...,2996.99,1,Nokia
2,Samsung Galaxy A5 A500 16gb Refabricado 2gb Ra...,31495.00,5,Samsung
3,Celular Android Smartphone Liberado 4g Lte Tcl...,77380.00,20,Otros
4,Telefono Celular Lg G7 4g Lte Libre Nuevo Gara...,99997.00,3,Lg
5,Telefono Celular Lg G7 New Platinum Gray 4g Lt...,219992.00,8,Lg

In [57]:
df.groupby('brand').sum().sort_values(by=['unit_sales'], ascending=False)

                  sales  unit_sales
brand
Samsung     88711631.38        9016
Motorola    55133033.59        5590
Xiaomi      60747030.31        5074
Lg          33126412.32        5020
Otros        9894855.41        2557
Huawei      21755643.91        1571
Blu          4333527.21        1231
Nokia        1679329.18         641
Iphone      14744291.21         541
Quantum      1681571.40         340
Cat          3737548.66         297
Alcatel       884411.61         290
Kanji         233674.90         272
Sony         1871479.93         191
Bgh           530692.93         154
Philco        209577.00          76
Zte           168182.76          42
Blackberry     66166.95          38
Nextel         48540.65          22
Tecno         232580.00          20
Honor          65569.00           4
Asus           34450.00           2
Htc            17249.99           2
Oneplus         6000.00           1
Oppo           29999.00           1
Lenovo         17999.00           1
Google           650.00           1
Microsoft       1750.00           1

In [48]:
df2 = df[['title','brand']]

In [49]:
df2[df2['brand'].str.contains('Otros')]

                                                  title  brand
id
3     Celular Android Smartphone Liberado 4g Lte Tcl...  Otros
7     Celular Smartphone 4g Wifi Dual Cam 5 Pulg + G...  Otros
11    Smartphone Ken Brown 5.5  Android 5.1 Dual Sim...  Otros
34    Celular Maxwest M2 Dual Sim Libre Mp3 Camara F...  Otros
47    Celular Noblex 4g Quad Core 16gb 5 Pul Android...  Otros
61    Celular Con Tapita Maxwest Dual Sim Libre Mp3 ...  Otros
89                                 K10 Nuevo Y Liberado  Otros
95    Celular Android Smartphone 4g Lte Quadcore 5´ ...  Otros
100   Celular Liberado 5''  Quad Core 8mp + 2mp 1gb ...  Otros
101   Celular Liberado 5'' Quad Core Lte 4g 8mpx 1gb...  Otros
108   Celular Panacom Doble Sim Color Camara Libre R...  Otros
110   Celular Ultra Air Hyundai Hy1-4801 Nuevo En Ca...  Otros
154   Celular Libre Con Teclas Radio Linterna Fuerte...  Otros
173   Celular Cx S400 Libres Dual Sim 1 Año De Garan...  Otros
204                                  J4 Nuevos En Caja!  Otros
208   Smartphone Celular Exo Spanky 4g Gps 16gb Adul...  Otros
232   Celular Z4 Basico Teclas Econom Libre Nuevo Re...  Otros
236         Audinac Telefono Celular Unlimited A5 Negro  Otros
243                               Smartphone Pcbox King  Otros
257   Smartphone Celular Spanky Facil 4g Adultos May...  Otros
266   Celular Para Gente Mayor Panacom Libre Radio F...  Otros
289    Celular Libre Teclas Grandes Basico Camara Radio  Otros
299     Celular Maxwest Uno M2 2g 1.8 Dual Sim Bt D.cam  Otros
306   Celular Maxwest Uno Libre 1.8 Dual Sim Mp3 Rad...  Otros
308   Blacberry Curve 9300 Wi Fi 3g Impecables!!! Mo...  Otros
317   Celular Go Urban Negro 5  1gb+8gb Q-core Noble...  Otros
320   Celular Noblex Go 1 Dual Core  Nuevo  Sensacio...  Otros
325   Celular Liberado 5'' Quad Core 8mp + 2mp 1gb R...  Otros
341         Celular Libre Tcl E5500 4g Lte Pantalla 5,5  Otros
359                   Tcl Telefono Celular E5500lterv B  Otros
...                                                 ...    ...
3284                        Xaomi Redmi 6a 16gb/2gb Ram  Otros
3351                        Xaomi Redmi 6a 16gb/2gb Ram  Otros
3379  Celular Geniphone A28 Dual Chip Fm Pantalla Gi...  Otros
3409         Razer Phone 2 64gb Nuevo Entrega Inmediata  Otros
3453              Celulares Para Adulto Genlus Touch G7  Otros
3478       Blackview Bv9500 Pro Rugged 6gb 128gb 4g Lte  Otros
3494  Celular Panacom Mp1104 Dual Sim Libre Mp3 - El...  Otros
3557   One Touch Idol 3 Liberado,outlet, Nuevo Promo!!!  Otros
3572                       Mi A2 Negro 4gb Ram 64gb Rom  Otros
3578  Celular Sky Panda Ideal Personas Mayores Niños...  Otros
3590  Celular Genius Touch Con Tapa Teclado Grande L...  Otros
3592               Celular Tcl L5 Gold 1gb Lte Liberado  Otros
3594    Celular Tcl L9 Dark Grey 1gb 16gb  Lte Liberado  Otros
3601    Celular Noblex Go Urban 5 1 Gb Ram Quad Core 4g  Otros
3616  Telefono Celular Tcl  G60 Lte 6  13mpx Android...  Otros
3624                             Celular Top House W418  Otros
3683  Doogee S60 Ip68 6gb 64gb Lte 4g 21mp Full Hd E...  Otros
3710                                     Liberar Icloud  Otros
3745                     Celulares Con Teclado Númerico  Otros
3756                       Celular Liberado Tcl L9 Gold  Otros
3763  Servicio Técnico Reparacion Celulares Tablets ...  Otros
3777  Celular S9 Genérico Libre De Fabrica Nuevos A ...  Otros
3834       Celular Hyundai Hy1-1716az Ultra Vision Azul  Otros
3835     Celular Hyundai Hy1-1716do Ultra Vision Dorado  Otros
3876  Celular Sansei 1.9'' Dual Sim 800mah Teclas Gr...  Otros
3896      Telefono Compacto Tarjeta Zylan Z7 Card Phone  Otros
3908  Xiomi Mi A2 Nuevo En Caja Completo Con Todos L...  Otros
3990                                       Redmi 6 64gb  Otros
4017  Celular Pcd 610 4g 16gb Almacenamiento 2gb Ram...  Otros
4021  Celular Sansei 1.9'' 800mah Dual Sim 2g Teclas...  Otros

[307 rows x 2 columns]