In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('cellphoneslisting.csv', sep='',index_col='id')
df.head()

                                                title      sales  unit_sales
id
1   Nokia Asha 503 Dual Sim Liberado  Nuevos   Gar...    2996.99           1
2   Samsung Galaxy A5 A500 16gb Refabricado 2gb Ra...   31495.00           5
3   Celular Android Smartphone Liberado 4g Lte Tcl...   77380.00          20
4   Telefono Celular Lg G7 4g Lte Libre Nuevo Gara...   99997.00           3
5   Telefono Celular Lg G7 New Platinum Gray 4g Lt...  219992.00           8

In [3]:
df['title'] = df['title'].str.replace('Celular', '')
df['title'] = df['title'].str.replace('Smartphone', '')
df['title'] = df['title'].str.replace('Telefono', '')
df['title'] = df['title'].str.replace('Liberado', '')
df['title'] = df['title'].str.replace('Libre', '')
df['title'] = df['title'].str.replace('es', '')
df['title'] = df['title'].str.replace('Barato', '')

In [4]:
df['title'] = df['title'].str.strip()

In [5]:
df.round()

                                                  title      sales  unit_sales
id
1           Nokia Asha 503 Dual Sim   Nuevos   Garantia     2997.0           1
2     Samsung Galaxy A5 A500 16gb Refabricado 2gb Ra...    31495.0           5
3                     Android   4g Lte Tcl Hd Gps Flash    77380.0          20
4                 Lg G7 4g Lte  Nuevo Garantia Dual Cam    99997.0           3
5           Lg G7 New Platinum Gray 4g Lte 64gb 4gb Ram   219992.0           8
6                 Lg K10 2017 4g 16gb 2gb M250 Garantia  1069786.0         214
7                    4g Wifi Dual Cam 5 Pulg + Garantia     3299.0           1
8     Samsung Galaxy S6 64gb Edge nuevo, En Caja, Co...    13500.0           1
9     Samsung Galaxy Ace2 Ll Gt-i8160 Eb425161lu S3m...      712.0           2
10            Samsung Galaxy S3 Quadcore Exelente  Rojo     4500.0           1
11           Ken Brown 5.5  Android 5.1 Dual Sim 4g Lte     9998.0           2
12    Samsung Galaxy Grand Prime Refabricado + Memor...    25394.0           6
13    Iphone 6s 128gb 4g Lte 8mpx En Caja Cerrada+te...    46460.0           2
14     Xiaomi Redmi Note 6 Pro 3gb 32gb + Funda + Envio    21200.0           2
15              Huawei P8 Lite Refabricado 16gb 2gb Ram    75300.0          15
16           Samsung Galaxy J6 16gb  + Tablet + Memoria    79992.0           8
17    Apple Iphone  X 256gb 5.8  Nuevo Modelo Factur...    70699.0           1
18        Samsung Galaxy A 3 * s * Nuevos * 4g * 16gb *     6500.0           1
19         Lg K10 2017  4g 13mp Octacore 16gb Android 7  1589735.0         265
20          Xiaomi Redmi 5 Plus 3gb 32gb 12mpx Octacore   401860.0          40
21      Blu Diva Flex 2g  Tapita Fm Dual Sim  Mem s Nvo    11443.0           7
22                                    Samsung J1 Ace 4g    10497.0           3
23    Alcatel One Touch Pop C3 Nuevo 0km Garantias  ...     2894.0           1
24    Huawei Y550d Android 4.4 Quad Core Gps 5mp 4g Lte    13196.0           4
25    Motorola Moto G6 Plus Xt1926 4gb Ram 64gb + Funda   305778.0          22
26                Apple Iphone 6. Sellado Y  De Fabrica    13500.0           1
27               Samsung Galaxy J4 Violeta  +smartwatch     8999.0           1
28                   Samsung Galaxy J4 Violeta 2gb 16gb    15198.0           2
29          Sony M4 Aqua s Refabricado Garantia +regalo     9198.0           2
30    Iphone 8 Apple 256gb 4g 4k Sellado Garantia 1 ...    52199.0           1
...                                                 ...        ...         ...
4018  Motorola Moto G5s Plus Red 4g 32gb Huella  Dua...     9290.0           1
4019  Xiaomi Redmi Note 6 Pro 64gb Doble Camara Dual...    12900.0           1
4020  Xiaomi Mi A2 Lite 64gb 4gb Ram Doble Camara  Dual    12290.0           1
4021       Sansei 1.9'' 800mah Dual Sim 2g Teclas Grand     1150.0           1
4022  Xiaomi Mi 8 Mi8 Lite 64gb  Dual Video 4k! 4gb Ram    14290.0           1
4023  Xiaomi Mi 8 Mi8 Lite 128gb  Dual Video 4k! 6gb...    79500.0           5
4024  Xiaomi Mi 8 Mi8 Lite 128gb  Dual Video 4k! 12 ...    19990.0           1
4025                               Certificados Samsung     3990.0          10
4026  Xiaomi Mi A2 64 Gb 4 Gb Ram Camara Frontal 20 ...    12999.0           1
4027  Xiaomi Mi A2 Azul / Dorado // Octacore 4gb Ram...    15900.0           1
4028       Samsung J6 Plus 32gb New Gtia Hytelectronics    10499.0           1
4029  Xiaomi Redmi 5 Plus 3gb 32gb Original Mod. 201...     9500.0           1
4030  Xiaomi Mi Mix3 128gb/6gb Ram 24mpx Cargador In...    38500.0           1
4031            Samsung Galaxy S Iii Mini Oferta Outlet     5998.0           2
4032  Samsung J5 2016 Qcore 2gb Ram 16gb Camara 13mp...     7000.0           1
4033  Xiaomi Mi A2 4gb 32gb Snapdragon 660 Global + ...     8990.0           1
4034  Xiaomi Mi A2 64gb 4gb Ram Doble Cam Android On...    10399.0           1
4035  Xiaomi Redmi Note 5 32gb 3gb Camara Doble + Fu...     8590.0           1
4036  Samsung Galaxy J8 2018 32gb 3gb Ram Original  ...    21980.0           2
4037                                Moto G5s Plus Nimbo     7999.0           1
4038  Huawei Mate 20 Lite Nuevos 64 Gb 4 Ram 4g s Fu...    13270.0           1
4039            Xiaomi Mi A2 4gb/64gb Lte Dual Sim 5,99     9000.0           1
4040     Xiaomi Redmi Note 5 4gb/64gb Lte Dual Sim 5.99     8000.0           1
4041  Samsung Galaxy J6 2018 Nuevos 32 Gb 4g s Tmb Plus     7770.0           1
4042  Motorola Moto G6 Play Nuevos 32 Gb 3 Ram 4g s ...     7970.0           1
4043  Samsung J6 2019 32gb 2ram 13/13 Mpx Huella Dua...    16994.0           2
4044  Xiaomi Redmi 5 64gb 4ram Global5.99 Doble Cama...     9997.0           1
4045        Motorola Moto E2 8gb 1gb Android 5.0  4.5hd     3960.0           1
4046  Moto E2, 4g , Cargador Y Reloj De Silicona De ...     2200.0           1
4047                        Samsung J82018 64gb 4gb Ram    13000.0           1

[4047 rows x 3 columns]

In [6]:
df['brand'] = df['title'].str.split(' ').str[0]

In [7]:
df = df[['title', 'brand', 'sales', 'unit_sales']]

In [8]:
df.head()

,title,brand,sales,unit_sales
id,,,,
1,Nokia Asha 503 Dual Sim Nuevos Garantia,Nokia,2996.99,1
2,Samsung Galaxy A5 A500 16gb Refabricado 2gb Ra...,Samsung,31495.00,5
3,Android 4g Lte Tcl Hd Gps Flash,Android,77380.00,20
4,Lg G7 4g Lte Nuevo Garantia Dual Cam,Lg,99997.00,3
5,Lg G7 New Platinum Gray 4g Lte 64gb 4gb Ram,Lg,219992.00,8

In [9]:
df.groupby('brand').sum().sort_values('unit_sales', ascending=False)

                    sales  unit_sales
brand
Samsung       85039870.18        8590
Lg            34373302.23        5280
Xiaomi        59321851.96        4975
Motorola      47561809.73        4746
Huawei        21702956.98        1582
Blu            2484767.21         838
Moto           6781390.05         800
Nokia          1427070.18         511
Kodak          2438966.90         371
Quantum        1582414.40         317
Iphone         7829487.36         281
Kanji           233674.90         272
Alcatel         858387.02         271
Hyundai        1142521.10         267
Galaxy         2734607.55         266
Caterpillar    3196990.68         263
Tcl             900081.09         209
Super           113652.70         187
Sony           1828746.93         184
Nuevo          1107257.72         162
5               530965.80         154
Apple          4957991.55         148
5''             382267.00         133
Dual            139777.00         123
6               650283.80         121
Rosario        1751476.73         114
Panacom         103530.54         106
Bgh             357418.99         100
Teléfono       1450090.00          94
Maxwt           109191.18          79
...                   ...         ...
Liquidacion        499.00           1
Senior            1700.00           1
Archos            3997.00           1
Oneplus           6000.00           1
Blu,              1450.00           1
Nueva            29000.00           1
Permuto           2500.00           1
Dbloqueo           780.00           1
Nextkin            544.52           1
Movil             3999.00           1
Motorolla         3799.00           1
Motorola-one     19499.00           1
Básico            1199.99           1
Asus              8500.00           1
Razer            42499.00           1
Card               899.00           1
Overtech          2859.00           1
Reparamos          400.00           1
Mobile            8000.00           1
Microsoft         1750.00           1
S9                6000.00           1
Samgung          10000.00           1
Samsumg          13799.00           1
Samsun           16434.00           1
Lumia               60.00           1
Samsung,          3000.00           1
Lumee              861.28           1
Liquido           1299.00           1
Sansung            500.00           1
Oppo             29999.00           1

[180 rows x 2 columns]

In [ ]:
df2 = df["title"].str.split(" ", n = 13,expand = True)

In [ ]:
df2

In [ ]:
df2.loc[df2[0] == 'Celular']

In [ ]:
df.groupby('title').sum().sort_values('unit_sales', ascending = False)

In [ ]:
df.sort_values('title')