# Importo librerías a utilizar

In [1]:
import pandas as pd
import numpy as np

Lectura del archivo, establecer separador y columna que funcionará como índice.

In [2]:
df = pd.read_csv('cellphoneslisting.csv', sep='',index_col='id')
df.head()

                                                title      sales  unit_sales
id
1   Nokia Asha 503 Dual Sim Liberado  Nuevos   Gar...    2996.99           1
2   Samsung Galaxy A5 A500 16gb Refabricado 2gb Ra...   31495.00           5
3   Celular Android Smartphone Liberado 4g Lte Tcl...   77380.00          20
4   Telefono Celular Lg G7 4g Lte Libre Nuevo Gara...   99997.00           3
5   Telefono Celular Lg G7 New Platinum Gray 4g Lt...  219992.00           8

Reemplazo los valores que me generan conflictos con la idea de que la primera palabra que aparezca en el string 'title' sea la marca

In [ ]:
df['title'] = df['title'].str.replace('Celular', '')
df['title'] = df['title'].str.replace('Smartphone', '')
df['title'] = df['title'].str.replace('Telefono', '')
df['title'] = df['title'].str.replace('Liberado', '')
df['title'] = df['title'].str.replace('Libre', '')
df['title'] = df['title'].str.replace('es', '')
df['title'] = df['title'].str.replace('Barato', '')

Elimino espacios en los extremos.

In [ ]:
df['title'] = df['title'].str.strip()

Realizo un split, cuyo delimitador es el espacio. Generando una nueva columna que sea 'brand' que tomará la primera palabra <br>
<font color = red >La premisa (y el problema) con esta aproximación es que se va a lograr tener las marcas en la primera ubicación del string</color>

In [11]:
df['brand'] = df['title'].str.split(' ').str[0]

Reacomodo las columnas

In [12]:
df = df[['title', 'brand', 'sales', 'unit_sales']]

In [13]:
df = cleaning_dataFrame(df)

In [14]:
df.head()

,title,brand,sales,unit_sales
id,,,,
1,Nokia Asha 503 Dual Sim Nuevos Garantia,Nokia,2996.99,1
2,Samsung Galaxy A5 A500 16gb Refabricado 2gb Ra...,Samsung,31495.00,5
3,Android 4g Lte Tcl Hd Gps Flash,Android,77380.00,20
4,Lg G7 4g Lte Nuevo Garantia Dual Cam,Lg,99997.00,3
5,Lg G7 New Platinum Gray 4g Lte 64gb 4gb Ram,Lg,219992.00,8

Realizo la lista con las marcas que más ventas tienen

In [6]:
df2.groupby('brand').sum().sort_values('unit_sales', ascending=False)

                    sales  unit_sales
brand
Samsung       85039870.18        8590
Lg            34373302.23        5280
Xiaomi        59321851.96        4975
Motorola      47561809.73        4746
Huawei        21702956.98        1582
Blu            2484767.21         838
Moto           6781390.05         800
Nokia          1427070.18         511
Kodak          2438966.90         371
Quantum        1582414.40         317
Iphone         7829487.36         281
Kanji           233674.90         272
Alcatel         858387.02         271
Hyundai        1142521.10         267
Galaxy         2734607.55         266
Caterpillar    3196990.68         263
Tcl             900081.09         209
Super           113652.70         187
Sony           1828746.93         184
Nuevo          1107257.72         162
5               530965.80         154
Apple          4957991.55         148
5''             382267.00         133
Dual            139777.00         123
6               650283.80         121
Rosario        1751476.73         114
Panacom         103530.54         106
Bgh             357418.99         100
Teléfono       1450090.00          94
Maxwt           109191.18          79
...                   ...         ...
Liquidacion        499.00           1
Senior            1700.00           1
Archos            3997.00           1
Oneplus           6000.00           1
Blu,              1450.00           1
Nueva            29000.00           1
Permuto           2500.00           1
Dbloqueo           780.00           1
Nextkin            544.52           1
Movil             3999.00           1
Motorolla         3799.00           1
Motorola-one     19499.00           1
Básico            1199.99           1
Asus              8500.00           1
Razer            42499.00           1
Card               899.00           1
Overtech          2859.00           1
Reparamos          400.00           1
Mobile            8000.00           1
Microsoft         1750.00           1
S9                6000.00           1
Samgung          10000.00           1
Samsumg          13799.00           1
Samsun           16434.00           1
Lumia               60.00           1
Samsung,          3000.00           1
Lumee              861.28           1
Liquido           1299.00           1
Sansung            500.00           1
Oppo             29999.00           1

[180 rows x 2 columns]

# Puntos a mejorar del actual desafío

1 - Realizar un split teniendo como idea tomar la primera palabra que se genera no es escalable. Si los usuarios cambian el patrón de escritura de los títulos el proceso dejaría de funcionar.<br>
2 - Un problema adicional es la gran cantidad de registros que quedan con un sólo caracter y producen problemas a la hora de la lectura. Opté por no quitarlos del listado final <br>
3 - Sí es una práctica funcional realizar un reemplazo (o quitar) las palabras que producen conflictos. Por ejemplo, "Celular".<br>
4 - Se podría mejorar un proceso de ingesta que opere con una lista compartiendo responsabilidades a la hora de la transformación de la información

# Otras Funciones

Los pasos realizados como función por si debe ir en una subrutina (En el Challenge lo realizo separado para explicar mi razonamiento en cada paso)

In [7]:
def cleaning_dataFrame(data_frame):
    data_frame['title'] = data_frame['title'].str.replace('Celular', '')
    data_frame['title'] = data_frame['title'].str.replace('Smartphone', '')
    data_frame['title'] = data_frame['title'].str.replace('Telefono', '')
    data_frame['title'] = data_frame['title'].str.replace('Liberado', '')
    data_frame['title'] = data_frame['title'].str.replace('Libre', '')
    data_frame['title'] = data_frame['title'].str.replace('es', '')
    data_frame['title'] = data_frame['title'].str.replace('Barato', '')
    data_frame['title'] = data_frame['title'].str.strip()
    data_frame['brand'] = data_frame['title'].str.split(' ').str[0]
    data_frame = data_frame[['title', 'brand', 'sales', 'unit_sales']]
    return data_frame